<h1 class="myname"> {{name}}</h1>
<h2>{{student.rno}}--{{student.name}}</h2>
<table width="100" border="5" height="50">
  <tr>
    <th>sr no.</th>
    <th>Name</th>
    <th>Contact</th>
    <th>Roll no</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Reeba Diwan</td>
    <td>9756132346</td>
    <td>35</td>
  </tr>
  <tr>
    <td>2</td>
    <td>sarah khan</td>
    <td>975614116</td>
    <td>19</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Anas khan</td>
    <td>9648124116</td>
    <td>50</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Ashiya khan</td>
    <td>9789631116</td>
    <td>21</td>
  </tr>
  
</table>
<ul></ul>